<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>About Me</title>
  <style>
      body, html {
        background-image: url("beach2.jpg");
      
        /* Center and scale the image nicely */
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      background-color: #999;
      margin-bottom:20px;
      }
    
      </style>
</head>

<body ng-app="travelAgencyApp">
  <div class="container" style="margin-top: 20px">
    <div class="row1">

        <a href = "home.html"> 
            <img src="bochitto2.jpg" alt="Logo" href = "home.html" style="float:left;width:200px;height:100px;margin-left:50px;">
          </a>


    </div>

    <div class="topnav" ng-controller = "homeController">
        <a href="home.html">Home</a>
        <a href="contact.html">Contact</a>
        <a class="active" href="about.html">About Me</a>
        <a href="specials.html">Specials</a>
        <a href="blogs.html">Blog Posts</a>
        <a href="http://bochitto.paycationonline.com/index.asp" target="_blank"> Self-Booking</a>
        
        <div ng-if="userName !== 'null'">
            <a style = "float:right" ng-click="logout()">Logout</a>
            <div ng-if="userName !== 'admin'">
                <a style="float:right" href="clientDashboard.html">My Dashboard</a>
            </div>
            <div ng-if="userName === 'admin'">
                <a style="float:right" href="adminDashboard.html">My Dashboard</a>
            </div>
        </div>
        
            <div ng-if="userName !== 'null'">
              <div ng-if = "userName !== 'admin'">
                <a href="triprequest.html">Trip Request</a>
              </div>
            </div>
            <div ng-if= "userName === 'null'" class="login">
            <a href="login.html">Login</a>
            <a href="signup.html">Sign Up</a>
        </div>
    </div>

    <p><br></p>
   
    <img src="travel.jpg" alt="Pineapple" style="width:200px;height:200px;margin-left:470px;float:left;">
      <p><br><br><br><br><br><br><br><br><br><br></p>
      <h2 style="font-size:30px">Our Story</h2>

    <em style="font-family:georgia,garamond,serif;font-size:19px;font-style:italic;">
      Individual, Group, Business, Family Travel Domestic and International Specializing in:
      <p><br></p>
    </em>
    <!--
    <p><br>- Cruises</p>
    <p>- Flight</p>
    <p>- Hotel</p>
    <p>- Car Rental</p>
    <p>- Ground Transportation</p>
    <p>- Tours</p>
    <p>- Attraction Tickets ( Depending on location specializing in the Orlando, FL. ST. Thomas, USVI,locations)</p>
    <p>- Destination Weddings(select locations)</p>
    <p>- Family Reunion Packages</p>
    <-->
    <div  class="row">
    <div class="row-eq-height">
          <div class="col-lg-4 col-sm-6 panel">
            <div class="thumbnail">
              <center><h3>Cruises</h3></center>
              <img src="cruise.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
            </div>
          </div>

    <div class="col-lg-4 col-sm-6 panel">
      <div class="thumbnail">
        <center><h3>Flights</h3></center>
        <img src="plane.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 panel">
      <div class="thumbnail">
        <center><h3>Hotels</h3></center>
        <img src="hotel.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 panel">
      <div class="thumbnail">
        <center><h3>Car Rentals</h3></center>
        <img src="cars.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 panel">
      <div class="thumbnail">
        <center><h3>Ground Transportation</h3></center>
        <img src="ground.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 panel">
      <div class="thumbnail">
        <center><h3>Tours</h3></center>
        <img src="tour.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 panel">
      <div class="thumbnail">
        <center><h3>Attraction Tickets </h3> <p>(Depending on location specializing in the Orlando, FL. St. Thomas, USVI, locations)</p></center>
        <img src="theme park.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 panel">
      <div class="thumbnail">
        <center><h3>Destination Weddings</h3> <p>(Select locations)</p></center>
        <img src="wedding.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 panel">
      <div class="thumbnail">
        <center><h3>Family Reunion Packages</h3></center>
        <img src="lake.jpg" style ="padding-top:10px; display: block; width:333px; height:215px; ">
      </div>
    </div>
   </div>
  </div>
 <div style="margin-bottom:380px;"> </div>
</div>

<center>
    <div class="siteAnchor">

      <p style="float: left;">Copyright © 2019 Bochitto Travel</p>


      <p style="float:right;">Questions? Contact us at bochittotravel@test.com</p>

    </div>
  </center>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    
    <script src="js/factories/clientDashboardFactory.js"></script>
    <script src="js/controllers/clientDashboardController.js"></script>
    <script src="js/factories/blogsFactory.js"></script>
    <script src="js/controllers/blogsController.js"></script>
    <script src="js/controllers/homeController.js"></script>

</body>

</html>