<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>Project</title>
  <style>
    body,
    html {
      background-image: url("beach2.jpg");

      /* Center and scale the image nicely */
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #999;
      margin-bottom: 20px;
    }
  </style>
</head>

<body ng-app="travelAgencyApp">
  <div class="container" style="margin-top: 20px">
    <div class="row1">

        <a href = "home.html"> 
            <img src="bochitto2.jpg" alt="Logo" href = "home.html" style="float:left;width:200px;height:100px;margin-left:50px;">
          </a>


    </div>

    <div class="topnav">
      <a href="home.html">Home</a>
      <a href="contact.html">Contact</a>
      <a href="about.html">About Me</a>
      <a href="specials.html">Specials</a>
      <a class="active" href="blogs.html">Blog Posts</a>
      <a href="http://bochitto.paycationonline.com/index.asp" target="_blank"> Self-Booking</a>
      <a href="clientDashboard.html">Client Dashboard</a>
      <div class="login">
        <a href="triprequest.html">Trip Request</a>
        <a href="login.html">Login</a>
        <a href="signup.html">Sign Up</a>
      </div>
    </div>

    <!--- Santis code-->
    <div class="blogPage">

      <header>
        <h1 align="center">Blog Posts</h1>
      </header>

      <div class="blogHeader" ng-controller = "blogsController">

        <center><img src="headerBlogTemp.jpeg" alt="blogHeader" style="max-width: 80%; height: auto; padding-top:10px;">
        </center>

        <center>
          <div class="blogHeaderText">
            <p>

              Please view all of my blogs to learn about exciting trips you can go on!
            </p>
      <div ng-if="userName === 'admin'">
      <center> <input type="submit" value="New Post" ng-click = "goToNewPost()"></center>
      </div>
      </div>
        </center>

    </div>






      <div class="blogClass" ng-controller="blogsController">

        <!--<p align="right">Insert Date Here </p> -->
        <div class="repeatBlogPost" ng-repeat="blog in allBlogs" >
          <center>
              <button ng-click="viewBlog(blog)"></button>
            <h2>{{blog.title}} </h2>
          </center><p>
          <left><img src={{request.imageURL}} style="display: block; width:250px; height:150px; float:left; padding-right: 10px; padding-bottom: 15px;">
            <br>
             {{blog.summary}}</p>
          </left>
          <br><br>

          <p> {{blog.featured}}</p>


        </div>
      </div>




    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
      <a href="#">10</a>
      <a href="#">&raquo;</a>
    </div>
  </div>

  </div>
  <center>
    <div class="siteAnchor">

      <p style="float: left;">Copyright © 2019 Bochitto Travel</p>


      <p style="float:right;">Questions? Contact us at bochittotravel@test.com</p>

    </div>
  </center>

  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>

  <script src="js/factories/blogsFactory.js"></script>
  <script src="js/controllers/blogsController.js"></script>
  <script src="js/controllers/homeController.js"></script>

</body>

</html>
