<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>Contact</title>
  <style>
      body, html {
        background-image: url("beach2.jpg");
      
        /* Center and scale the image nicely */
      background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
      background-color: #999;
      margin-bottom:20px;
      height: 100%;
      }
    
      </style>
</head>
<body ng-app="travelAgencyApp">
  <div class="container" style="margin-top: 20px">
    <div class="row1">
      
      <a href = "home.html"> 
      <img src="bochitto2.jpg" alt="Logo" href = "home.html" style="float:left;width:200px;height:100px;margin-left:50px;">
    </a> 

  </div>

  <div class="topnav" ng-controller = "homeController">
      <a href="home.html">Home</a>
      <a class="active" href="contact.html">Contact</a>
      <a href="about.html">About Me</a>
      <a href="specials.html">Specials</a>
      <a href="blogs.html">Blog Posts</a>
      <a href="http://bochitto.paycationonline.com/index.asp" target="_blank"> Self-Booking</a>
      <div ng-if="userName !== 'null'">
          <a style = "float:right" ng-click="logout()">Logout</a>
          <a style="float:right" href="clientDashboard.html">My Dashboard</a>
      </div>
      <div ng-if="userName === 'admin'">
          <a href="adminDashboard.html">Admin Dashboard</a>
      </div>
      
          <div ng-if="userName !== 'null'">
              <a href="triprequest.html">Trip Request</a>
          </div>
          <div ng-if= "userName === 'null'" class="login">
          <a href="login.html">Login</a>
          <a href="signup.html">Sign Up</a>
      </div>
  </div>

    <h1><center>Contact Me</center></h1>
      
    <div class="submitForms">
      <div class="containerPersonalInfo">

        <h3>Have a problem? </h3>
          <br>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name" >


        <label for="usremail">Email</label>
        <input type="email" id="to" name="email" placeholder="Your email" >


        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Subject" >

        
      <label for="message">Message</label>
        <br>
      <textarea id = "message" name="paragraph_text" style="height:150px; max-width: 100%" placeholder = "What can I help you with?" ng-model = "message"> </textarea>
      </div>

      <center> <input id="send_email" type="submit" value="Submit"></center>
      
      <script>
        $(document).ready(function() {
            var from, to, subject, text, name;

            $("#send_email").click(function() {
              to=$("#to").val();
              subject=$("#subject").val();
              text=$("#message").val();
              name=$("#name").val();

            $.get("/send", {to: to, subject: subject, text:text, name: name}, function(data){
              if (data =="sent")
              {
                 window.location.href = "/contact-success.html";
               }
             });
          });
        });
    </script>
    
    </div>
  </div>
<center>
      <div class="siteAnchor">
<footer>
        <p style="float: left;">Copyright © 2019 Bochitto Travel</p>


        <p style="float:right;">Questions? Contact us at bochittotravel@test.com</p>
</footer>
      </div>
      </center>
  
    <!-- </form>  -->

    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>

    <script src="js/factories/clientFactory.js"></script>
    <script src="js/controllers/clientController.js"></script>
    <script src="js/controllers/homeController.js"></script>

</body>

</html>
