<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>Project</title>
</head>

<body ng-app="travelAgencyApp">
  <div class="container" style="margin-top: 20px">
    <div class="row1">

      <img src="bochitto2.jpg" alt="Logo" style="float:left;width:200px;height:100px;margin-left:50px;">


    </div>

    <div class="topnav" ng-controller = "homeController">
        <a href="home.html">Home</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About Me</a>
        <a href="specials.html">Specials</a>
        <a href="blogs.html">Blog Posts</a>
        <a href="http://bochitto.paycationonline.com/index.asp" target="_blank"> Self-Booking</a>
        <div ng-if="userName === 'ash'">
            <a href="clientDashboard.html">Client Dashboard</a>
        </div>
        <div ng-if="userName === 'admin'">
            <a href="adminDashboard.html">Admin Dashboard</a>
        </div>
        <div class="login">
            <div ng-if="userName === 'ash'">
                <a href="triprequest.html">Trip Request</a>
            </div>
            <a class="active" href="login.html">Login</a>
            <a href="signup.html">Sign Up</a>
        </div>
    </div>

    <div class="containerLogin" ng-controller="ClientController">

      <h3>User Login </h3>
      <label for="fname">Username</label>
      <input type="text" id="fname" name="firstname" placeholder="Username" ng-model="username">

      <label for="lname">Password</label>
      <input type="password" id="myInput" name="lastname" placeholder="Password" ng-model="password">
      <script>
      function myFunction() {
       var x = document.getElementById("myInput");
           if (x.type === "password") {
              x.type = "text";
          } else {
        x.type = "password";
         }
        } 
      </script>
      <center> <input type="login" value="Login" ng-click="submit_authenticate()" style="width:75px;"></center>
    </div>

    <div class="siteAnchor">

      <p style="float: left;">Copyright © 2019 Bochitto Travel</p>


      <p style="float:right;">Questions? Contact us at bochittotravel@test.com</p>

    </div>
  </div>

    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>

    <script src="js/factories/clientFactory.js"></script>
    <script src="js/controllers/clientController.js"></script>
    <script src="js/controllers/homeController.js"></script>

</body>

</html>
