<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>Project</title>
  <style>
      body, html {
        background-image: url("beach2.jpg");
      
        /* Center and scale the image nicely */
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      background-color: #999;
      margin-bottom:20px;
      }
    
      </style>
</head>

<body ng-app="travelAgencyApp">
  <div class="container" style="margin-top: 20px" ng-controller="TripRequestController">
    <div class="row1">

      <img src="bochitto2.jpg" alt="Logo" style="float:left;width:200px;height:100px;margin-left:50px;">

    </div>

    <div class="topnav">
      <a href="home.html">Home</a>
      <a href="#contact">Contact</a>
      <a href="about.html">About Me</a>
      <a href="specials.html">Specials</a>
      <a href="blogs.html">Blog Posts</a>
      <a href="http://bochitto.paycationonline.com/index.asp" target="_blank"> Self-Booking</a>
      <div class="login">
        <a class="active" href="triprequest.html">Trip Request</a>
        <a href="login.html">Login</a>
        <a href="signup.html">Sign Up</a>
      </div>
    </div>

  </div>
<div class ="container">
  <div class="submitForms" ng-controller="TripRequestController">
    <!--   <form action="#">  -->

  <div class="containerListInfo">
    <h3>Contact Information</h3>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Full name" >

      <label for="usremail">Email</label>
      <input type="email" id="to" name="email" placeholder="Email" >

    <h3>Listing Information</h3>
      <label for="departure">Departure</label>
      <br>
  
      <input id="dept" type="Origin" name="dept" ng-model="origin">
      <br><br>

      <label for="departure-date">Departure date</label>
      <br>
      <input id="dept-date" type="date" name="dept-date" ng-model="departDate" style=" width:30%;">
      <br><br>  

      <button ng-click="addNewStop()">Add stop</button>

        <table>
          <tr ng-repeat="stops in tableStops track by $id(stops)">

            <td ng-model="tableStops[$index]">
              <div class="test">
              <label for="destination"> Stops</label>
              <br>
        
        <input id="destination" type="departure" name="dept" ng-model="stops.stopLocation">
        
              <br>
              <label for="return-date">Date to Arrive at Stop</label>
              <br>
        
              <input type="date" name="ret-date" ng-model="tableStops[$index].stopDate" style=" width:100%;">

              </div>

            </td>
            <td>
              <button ng-click="removeStop($index)" type="button" >
               Remove Stop
              </button>
            <td>
          </tr>
        </table>

      <br>
      
      <label for="return-date">Return date</label>
      <br>
      
      <input id="ret-date" type="date" name="ret-date" ng-model="returnDate" style=" width:30%;">
          
      <br>
      <br>
          
      <div class="numInput">
        <label for="quantity">Number of people</label>
        <br>
        <input id="numpeople" type="number" name="quantity" ng-model="numPeople">

        <br>
        <label for="maxBudget"> Max budget</label>
        <br>
        <input id="maxbudget" type="number" name="maxBudget" ng-model="budget">
        <br>

      </div>
    </div>

    <div class="containerComments">
      <h3>Additional comments</h3>
      <textarea id="comments" name="comments" placeholder="Write something.." style="height:100px; width:300px;"
        ng-model="notes"></textarea>
</div>

    <center> <input id="send_email" type="submit" value="Submit" ng-click="submitRequest()"></center>
    <!-- </form>  -->

      <script>
        $(document).ready(function() {
            var from, to, subject, text, name, message;

            $("#send_email").click(function() {
              to=$("#to").val();
              subject="NEW TRIP REQUEST";
              text="Departing From: " + $("#dept").val() + "\nDeparture Date: " + $("#dept-date").val() + "\nDestination(s): " + $("#destination").val() + "\nReturn Date: " + $("#ret-date").val() + "\nNumber of People: " + $("#numpeople").val() + "\nMax Budget: " + $("#maxbudget").val() + "\nAdditional comments: " + $("#comments").val();
              name=$("#name").val();

            $.get("/send", {to: to, subject: subject, text: text, name: name}, function(data){
              if (data =="sent")
              {
                 window.location =('/clientDashboard.html');
              }
               else console.log('email not sent.');
             });
          });
        });
    </script>

  </div>
</div>
<center>
    <div class="siteAnchor">

      <p style="float: left;">Copyright © 2019 Bochitto Travel</p>

      <p style="float:right;">Questions? Contact us at bochittotravel@test.com</p>

    </div>
  </center>

  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>

  <script src="/js/factories/TriprequestsFactory.js"></script>
  <script src="js/controllers/requestTripController.js"></script>


  <script src="js/controllers/addStopsController.js"></script>

</body>

</html>
