<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>Project</title>
</head>

<body ng-app="Project">
  <div class="container" style="margin-top: 20px">
    <div class="row1">

      <img src="bochitto2.jpg" alt="Logo" style="float:left;width:200px;height:100px;margin-left:50px;">


    </div>

    <div class="topnav" ng-controller = "homeController">
        <a href="home.html">Home</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About Me</a>
        <a href="specials.html">Specials</a>
        <a href="blogs.html">Blog Posts</a>
        <a href="http://bochitto.paycationonline.com/index.asp" target="_blank"> Self-Booking</a>
        <div ng-if="userName !== 'null'">
            <a style = "float:right" ng-click="logout()">Logout</a>
            <a class="active" style="float:right" href="clientDashboard.html">My Dashboard</a>
        </div>
        <div ng-if="userName === 'admin'">
            <a href="adminDashboard.html">Admin Dashboard</a>
        </div>
        
            <div ng-if="userName !== 'null'">
                <a href="triprequest.html">Trip Request</a>
            </div>
            <div ng-if= "userName === 'null'" class="login">
            <a href="login.html">Login</a>
            <a href="signup.html">Sign Up</a>
        </div>
    </div>

    <div class="trips">
      <h1>Your Trips</h1>
    </div>




</body>

</html>
